{% extends "base.html" %}
{% block content %}
<div style="text-align: center;">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="E-chef Logo" style="max-width: 200px; margin-bottom: 20px;">
    <h1>Welkom bij E-chef</h1>
    <p>Menu Engeneering | Recepten Beheren | Kostprijsberekeningen</p>
    <p>Menukaarten printen | Portfolio | Kookboek Samenstellen</p>
        <a href="{{ url_for('register') }}">Registreren</a> | 
        <a href="{{ url_for('login') }}">Inloggen</a>
    </p>
</div>
{% endblock %}
