{% extends "base.html" %}
{% block content %}
<h2>Gerechten Samenstellen</h2>
<p>Voeg hier nieuwe gerechten toe.</p>

<!-- Formulier om een nieuw gerecht toe te voegen -->
<form method="POST" action="{{ url_for('manage_dishes', chef_naam=chef_naam) }}">
    <input type="hidden" name="gerechtForm" value="1">
    <label for="naam">Naam gerecht:</label><br>
    <input type="text" id="naam" name="naam" required><br><br>

    <label for="beschrijving">Beschrijving:</label><br>
    <textarea id="beschrijving" name="beschrijving" rows="4" cols="50"></textarea><br><br>

    <label for="verkoopprijs">Verkoopprijs:</label><br>
    <input type="number" step="0.01" id="verkoopprijs" name="verkoopprijs"><br><br>

    <label for="gerecht_categorie">Categorie:</label><br>
    <select id="gerecht_categorie" name="gerecht_categorie" required>
        <option value="Amuse-bouche">Amuse-bouche (optioneel)</option>
        <option value="Hors-d'œuvre">Hors-d'œuvre (koud voorgerecht)</option>
        <option value="Potage">Potage (soep)</option>
        <option value="Poisson">Poisson (visgerecht)</option>
        <option value="Entrée">Entrée (warm voorgerecht / tussengerecht)</option>
        <option value="Sorbet">Sorbet (verfrissende gang)</option>
        <option value="Relevé of Rôti">Relevé of Rôti (hoofdgerecht/vleesgerecht)</option>
        <option value="Légumes / Groentegerecht">Légumes / Groentegerecht (optioneel apart geserveerd)</option>
        <option value="Salade">Salade (optioneel apart)</option>
        <option value="Fromage">Fromage (kaas)</option>
        <option value="Entremets">Entremets (zoet nagerecht)</option>
        <option value="Café / Mignardises">Café / Mignardises</option>
        <option value="Digestief">Digestief (optioneel)</option>
    </select><br><br>

    <button type="submit">Opslaan</button>
</form>

<hr>


{% endblock %}
