{% extends "base.html" %}
{% block content %}
<h2>Gerechten Samenstellen</h2>
<p>Voeg hier nieuwe gerechten toe of bekijk de lijst van bestaande gerechten.</p>

<div class="navigation-buttons">
    <a href="{{ url_for('dashboard', chef_naam=chef_naam) }}" class="btn-action">
        <i class="fas fa-arrow-left"></i> Dashboard
    </a>
</div>

<div class="create-dish-form">
    <form method="POST" action="{{ url_for('manage_dishes', chef_naam=chef_naam) }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" name="gerechtForm" value="1">
        
        <div class="form-group">
            <label for="naam">Naam gerecht:</label>
            <input type="text" id="naam" name="naam" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="beschrijving">Beschrijving:</label>
            <textarea id="beschrijving" name="beschrijving" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="gerecht_categorie">Categorie:</label>
            <select id="gerecht_categorie" name="gerecht_categorie" class="form-control">
            <option value="" disabled selected>Kies plaats in het menu (gang)</option>
            {% for categorie in dish_categories %}
                <option value="{{ categorie.naam }}">{{ categorie.naam }}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="ingredienten">Ingrediënten:</label>
            <textarea id="ingredienten" name="ingredienten" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <label for="bereidingswijze">Bereidingswijze</label>
            <textarea id="bereidingswijze" name="bereidingswijze" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn-action">
            <i class="fas fa-save"></i> Opslaan
        </button>
    </form>
</div>

<div class="navigation-buttons">
    <a href="{{ url_for('all_dishes') }}" class="btn-action">
        <i class="fas fa-list"></i> Terug naar overzicht gerechten
    </a>

</div>

{% endblock %}
